body {
  font-family: Jost, sans-serif; /* Jost is the primary font, sans-serif is fallback */
}

h1,
h2 {
  font-family: "Jost", sans-serif; /* Applying custom font */
}

/* banner section */

.mybanner-container {
  background-image: url("../images/Background.png");
  /* background-image: url("../images/Pattern.png"); */
  background-size: 58% auto;
  background-position: top right;
  background-repeat: no-repeat;
}

.rotated-mycontent {
  transform: rotate(-23deg); /* Rotate the content by -45 degrees */
  margin-bottom: 120px;
}

/* footer */

.footer-container {
  background-image: url("../images/footer/image.png");
  /* background-image: url("./images/footer/image.png"); */
  background-size: 100% auto;
  background-position: top left;
  background-repeat: no-repeat;
}
.footerstyle {
  border-radius: 15px;
}
.footerBgColor {
  background-color: #303030;
}
.white-icon {
  filter: invert(1);
}
.mybtnColor {
  background-color: rgba(214, 223, 231, 0.616);
}
.mybtn {
  background-color: rgba(214, 223, 231, 0.616);
  border-style: none;
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mybtn:hover {
  background-color: #303030a6;
  color: white !important;
}
.borderT {
  border-top: 1px solid #4a4a4a;
}
.borderB {
  border-bottom: 1px solid #4a4a4a;
}
.borderL {
  border-left: 1px solid #4a4a4a;
}
.borderR {
  border-right: 1px solid #4a4a4a;
}
.borderT1 {
  border-top: 1px solid #c5c5c5;
}
.borderB1 {
  border-bottom: 1px solid #c5c5c5;
}
.borderL1 {
  border-left: 1px solid #c5c5c5;
}
.borderR1 {
  border-right: 1px solid #c5c5c5;
}
/*  */

.bGtop {
  border-top: 1px solid;
  border-image: linear-gradient(to right, #303030, #4a4a4a) 1;
}
.bGbottom {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #303030, #4a4a4a) 1;
}
/*  */

/* Explore Premium Features */
.bgColorPf {
  background-color: #f4f4f4;
}

/* management one */
.manageOne-container {
  background-image: url("../images/manage1/Background1.png");
  background-size: 38% auto;
  background-position: top left;
  background-repeat: no-repeat;
}

.custom-circle {
  border-radius: 75px;
  border: 12px solid #1eb1e5;
  display: inline-flex;
  flex: 0 0 auto;
}

.custom-bg {
  background-color: rgba(255, 255, 255, 0.75);
}

/* management two */
.manageTwo-container {
  background-image: url("../images/manage1/Background2.png");
  background-size: 38% auto;
  background-position: top right;
  background-repeat: no-repeat;
  /* height: 100vh; */
}

/* trust */
.imgCont {
  width: 289px;
  height: 146px;
}

/* responsive */
@media (min-width: 0px) and (max-width: 767px) {
  .mybanner-container {
    background-size: 290% auto !important;
    background-position: top right !important;
    background-repeat: no-repeat !important;
  }
}
@media (min-width: 0px) and (max-width: 991px) {
  /* management one */
  .manageOne-container {
    background-size: 70% auto;
    background-position: bottom left;
  }
  /* management two */
  .manageTwo-container {
    background-size: 70% auto;
    background-position: bottom right;
  }
}
