body {
  font-family: Jost, sans-serif; /* Jost is the primary font, sans-serif is fallback */
}

h1,
h2 {
  font-family: "Jost", sans-serif; /* Applying custom font */
}

/* banner section */

.mybanner-container {
  background-image: url("../images/Background.png");
  /* background-image: url("../images/Pattern.png"); */
  background-size: 58% auto;
  background-position: top right;
  background-repeat: no-repeat;
}

.rotated-mycontent {
  transform: rotate(-23deg); /* Rotate the content by -45 degrees */
  margin-bottom: 120px;
}

/* responsive */
@media (min-width: 0px) and (max-width: 767px) {
  .mybanner-container {
    background-size: 290% auto !important;
    background-position: top right !important;
    background-repeat: no-repeat !important;
  }
}
